{% if page_name == 'index' %}
<header class="masthead" style="background-image: url('theme/images/home-bg.jpg')">
{% endif %}
{% if page %}
<header class="masthead" style="background-image: url('../theme/images/about-bg.jpg')">
{% endif %}
{% if article %}
<header class="masthead" style="background-image: url('theme/images/post-bg.jpg')">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if page_name == 'index' %}
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
        {% endif %}
        {% if page %}
        <div class="site-heading">
          <h1>{{ page.title }}</h1>
          <span class="subheading">{{ page.subtitle }}</span>
        </div>
        {% endif %}
        {% if article %}
        <div class="post-heading">
          <h1>{{ article.title }}</h1>
          <h2 class="subheading">{{ article.subtitle }}</h2>
          <span class="meta">Posted by
            <a href="#">Start Bootstrap</a>
                  on {{ article.date }}
          </span>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>
